@import './base.css';
@import "tailwindcss";

body{
    background-image: url("@/assets/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main), Arial, Helvetica, sans-serif;
}